* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  border: none;
  outline: none;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 500px;
  padding: 9px;
  margin: auto;
  background-color: #FFFAFA;
}
